/* ShadcnCarousel.module.css */
.dot-inactive {
    background-color: #d1d5db;
    transform: scale(1);
    transition: transform 0.5s, background-color 0.5s;
  }
  
  .dot-active {
    background-color: #f97316;
    transform: scale(1.5) skewX(-10deg);
    animation: water-drop 0.5s ease-out forwards;
  }
  
  @keyframes water-drop {
    0% {
      transform: scale(1.5) skewX(-10deg);
    }
    50% {
      transform: scale(1.8) skewX(-5deg);
    }
    100% {
      transform: scale(1.5) skewX(-10deg);
    }
  }
  